<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Enregistrer un nouveau article</h2>
    <form [formGroup]="postsForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea type="text" class="form-control" id="content" formControlName="content"></textarea>
      </div>
      <button class="btn btn-success" [disabled]="postsForm.invalid"
       type="submit">Enregistrer</button>
    </form>
  </div>
</div>