<li [ngClass]="{'list-group-item': true,
'list-group-item-success': post.loveIts>0,
'list-group-item-danger': post.loveIts<0}" style="margin-top: 15px">
  <div class="row">
    <div class="col-lg-8">
        <h4 style="font-weight: bold">{{post.title}}</h4>
    </div>
    <div class="col-lg-4">
        <span style="color: gray">{{post.created_at | date: 'short'}}</span>
    </div>
  </div>
  
    
  
  <p>{{post.content}}</p>
  <button class="btn btn-success" (click)="onLikeIt()">Love it!
    <span class="badge">{{getLoveIt()}}</span></button>
  <button class="btn btn-danger" (click)="onDelikeIt()" style="margin-left: 15px">Don't love it!
    <span class="badge">{{getDeLoveIt()}}</span></button>
    <button class="btn btn-danger pull-right" (click)="onDeletePost(post)">Supprimer post
     </button>
</li>