<div class="container">
    <div class="row">
      <div class="col-xl-12"> 
        <h1>Posts</h1>
        <ul class="list-group">
          <app-post-list-item *ngFor="let p of posts; let i=index"
          [post]="p" [index]="i"></app-post-list-item>
         
        </ul>
      </div>
    </div>
  </div>
  